# IntelliJ
.idea/
.iml

# Jupyter
.ipynb_checkpoints/

# Gradle
.gradle/
/build/
*/build/

GroovyLexer.java
GroovyLexer.tokens
GroovyParser.java
GroovyParser.tokens
GroovyParserBaseListener.java
GroovyParserListener.java

# Python
*.py[cod]
__pycache__/
*.egg-info/

groovy-dist/beakerx_groovy/kernel/*
groovy-dist/dist